<%- include('../layout/header') -%>
<title>ZEITKRAFT | Admin Dashboard</title>

<link rel="stylesheet" href="/AdminAssets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/AdminAssets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/AdminAssets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/AdminAssets/images/logo-mini.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      
      <%- include('../layout/adminNavbar') -%>

      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/AdminAssets/images/logo-mini.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
              <div class="container mb-3 d-flex justify-content-end">
                <div class="btn-group" role="group" aria-label="Filter options">
                    <button type="button" class="btn btn-outline-secondary" id="filter-week">Weekly</button>
                    <button type="button" class="btn btn-outline-secondary" id="filter-month">Monthly</button>
                    <button type="button" class="btn btn-outline-secondary" id="filter-year">Yearly</button>
                </div>
            </div>
              <div class="row">
                <div class="col-lg-6 grid-margin stretch-card" >
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Orders chart</h4>
                      <canvas id="pieChart" style="max-height:250px"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Sales per year</h4>
                      <canvas id="barChart" style="height:230px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Top Products</h4>
                      <% topProducts.forEach((product) => { %>
                          <div class="d-flex justify-content-around">
                              <img src="/uploads/products/<%= product.productPic1 %>" alt="img" class="img-fluid w-25">
                              <h5><%= product.brand.brandName + " " + product.productName %></h5>
                          </div>
                          <% }) %>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Top Categories</h4>

                    </div>
                  </div>
                </div>
                <div class="col-lg-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Top Brands</h4>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% let chartData = {salesData: salesData, orderData: orderData} %>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script>
      const chartData = <%- JSON.stringify( chartData ) %>;
    </script>
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <script src="/AdminAssets/js/misc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" 
    integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/AdminAssets/js/dashboard.js"></script>
 

<%- include('../layout/footer') -%>