<%- include('../layout/header') -%>
<title>ZEITKRAFT | Edit Categories</title>

    <link rel="stylesheet" href="/AdminAssets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/AdminAssets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/AdminAssets/css/style.css">
    <link rel="stylesheet" href="/AdminAssets/cropper/cropper.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/AdminAssets/images/logo-mini.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      
      <%- include('../layout/adminNavbar') -%>

      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/AdminAssets/images/logo-mini.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>


      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img src="/AdminAssets/images/logo-mini.png" alt="logo" /></a>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/admin/categories">categories</a></li>
                  <li class="breadcrumb-item active" aria-current="page">edit category</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit Category</h4>
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <form id="edit-category-form" class="forms-sample">
                                  <div class="form-group">
                                    <label for="category-name">Category name</label>
                                    <input data-category-id="<%= category._id %>" name="categoryName" type="text" class="form-control" id="category-name" placeholder="Category name" value="<%= category.categoryName %>" required>
                                  </div>
                                  <div class="form-group">
                                    <label>Change Category Image</label>
                                    <input id="upload-file" type="file" name="img[]" class="file-upload-default">
                                    <div class="input-group col-xs-12">
                                      <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                      <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                      </span>
                                    </div>
                                  </div>
                                  <div>
                                    <div id="crop-field" class="m-3 w-75"></div>
                                    <button id="crop-btn" class="btn btn-primary m-3 d-none">
                                      Crop
                                    </button>
                                  </div>
                                  <div class="image-container">
                                    <img id="image-output" class="img-fluid w-25 m-3" src="/uploads/categories/<%= category.categoryPic %>" alt="">
                                  </div>
                                  <button id="add-btn" type="submit" class="btn btn-primary mr-2">Submit</button>
                                  <button id="cancel-btn" class="btn btn-dark">Cancel</button>
                                  <p id="upload-error" class="mt-2 ml-2 text-danger"></p>
                                </form>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/AdminAssets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/AdminAssets/vendors/chart.js/Chart.min.js"></script>
    <script src="/AdminAssets/cropper/cropper.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/AdminAssets/js/off-canvas.js"></script>
    <script src="/AdminAssets/js/hoverable-collapse.js"></script>
    <script src="/AdminAssets/js/misc.js"></script>
    <script src="/AdminAssets/js/settings.js"></script>
    <script src="/AdminAssets/js/todolist.js"></script>
    <script src="/AdminAssets/js/file-upload.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/src/dom-to-image.min.js"></script>
    <script src="/AdminAssets/js/editCategory.js"></script>
    <script src="/AdminAssets/js/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- End custom js for this page -->

<%- include('../layout/footer') -%>