<%- include('../layout/header') -%>
<title>ZEITKRAFT | Sales Report</title>

    <link rel="stylesheet" href="/AdminAssets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/AdminAssets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/AdminAssets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/AdminAssets/images/logo-mini.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      
      <%- include('../layout/adminNavbar') -%>

      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img src="/AdminAssets/images/logo-mini.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>


      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img src="/AdminAssets/images/logo-mini.png" alt="logo" /></a>
          </div>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <!-- <form action="/admin/orders" method="get" class="nav-link mt-2 mt-md-0 d-flex d-lg-none justify-content-center search">
                <input name="search" id="searchBox1" type="text" class="form-control border-light-1 bg-transparent" placeholder="Search Orders" value="<%= search ? search : '' %>">
                <button type="submit" class="btn btn-outline-light">Search</button>
              </form> -->
            </li>
          </ul>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <!-- <form action="/admin/orders" method="get" class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input name="search" id="searchBox2" type="text" class="form-control" placeholder="Search Order" value="<%= search ? search : '' %>">
                  <button type="submit" class="btn btn-outline-light">Search</button>
                </form> -->
              </li>
            </ul>
            <!-- <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown d-flex d-lg-block">
                <a class="nav-link btn btn-primary create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">Sort By</a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                  <h6 class="p-3 mb-0">Projects</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-file-outline text-primary"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Software Development</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-web text-info"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">UI Development</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-layers text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Software Testing</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all projects</p>
                </div>
              </li>
            </ul> -->
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">sales report</li>
                </ol>
              </nav>
            </div>
            <div class="container mb-3">
                <div class="btn-group" role="group" aria-label="Filter options">
                    <button type="button" class="btn btn-outline-secondary" id="filter-day">Day</button>
                    <button type="button" class="btn btn-outline-secondary" id="filter-week">Week</button>
                    <button type="button" class="btn btn-outline-secondary" id="filter-month">Month</button>
                    <button type="button" class="btn btn-outline-secondary" id="filter-year">Year</button>
                </div>
                <input type="text" class="form-control custom-date-range d-inline-block ml-3" placeholder="Custom date range" id="custom-date-range" style="width: 200px;">
                <button type="button" class="btn btn-outline-secondary" id="submit-btn">Submit</button>
                <p class="text-danger" id="date-error"></p>
                <p class="text-light" id="date-range"></p>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Sales Report</h4>
                    <% 
                    let sold = 0;
                    let totalAmount = 0;
                    for(let i = 0; i < orders.length; i++){
                      if(orders[i].products.status == "Delivered"){
                        sold++;
                        totalAmount += Number(orders[i].price)
                      }
                    }
                     %>
                    <span class="mr-3">Ordered Products: <%= orders.length %></span>
                    <span>Products Sold: <%= sold %></span>
                    <div class="d-flex justify-content-end">
                      Download
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary ml-2" id="pdf-btn">PDF</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" id="excel-btn">EXCEL</button>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <% let salesData = [] %>
                        <% if(orders.length == 0){ %>
                        No Orders yet
                        <% }else { %>
                      <table id="table" class="table table-hover">
                        <thead>
                          <tr>
                            <th>Order ID</th>
                            <th>Odered Date</th>
                            <th>Delivered Date</th>
                            <th>User</th>
                            <th>Payment</th>
                            <th>Product</th>
                            <th>price</th>
                            <th>Qty</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach((order) => { %>
                                <% if(order.products.status == "Delivered"){ %>
                              <% order.orderedDate = order.orderDate.toLocaleDateString('default', {day: 'numeric', month: 'short', year: 'numeric'}) %>
                              <% order.deliveredDate = order.products.deliveryDate.toLocaleDateString('default', {day: 'numeric', month: 'short', year: 'numeric'}) %>
                              <% order.quantity = order.products.quantity %>
                              <% salesData.push(order) %>
                              <tr id="table-row">
                              <td><%= order.OID %></td>
                              <td><%= order.orderedDate %></td>
                              <td><%= order.deliveredDate %></td>
                              <td><%= order.userName %></td>
                              <td><%= order.paymentMethod != "Cash on Delivery" ? "Online" : "COD" %></td>
                              <td><%= order.productName.length > 25 ? order.productName.substring(0, 25) + '...': order.productName %></td>
                              <td>₹ <%= order.price.toLocaleString() %></td>
                              <td><%= order.products.quantity %></td>
                              <td>₹ <%= order.subtotal.toLocaleString() %></td>
                              <% } %>
                              <% }) %>
                        </tbody>
                      </table>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      
      <!-- page-body-wrapper ends -->
    </div>
    <script>
      let salesData = <%- JSON.stringify(salesData); %>;
      let totalSold = <%- JSON.stringify(sold); %>;
      let totalAmount = <%- JSON.stringify(totalAmount) %>;
    </script>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/AdminAssets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/AdminAssets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/AdminAssets/js/off-canvas.js"></script>
    <script src="/AdminAssets/js/hoverable-collapse.js"></script>
    <script src="/AdminAssets/js/misc.js"></script>
    <script src="/AdminAssets/js/settings.js"></script>
    <script src="/AdminAssets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/AdminAssets/js/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="/AdminAssets/js/salesReport.js"></script>
    <!-- End custom js for this page -->

<%- include('../layout/footer') -%>