<%- include('../layout/header') -%>
<title>ZEITKRAFT | Sales Report</title>

    <link rel="stylesheet" href="/AdminAssets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/AdminAssets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/AdminAssets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/AdminAssets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/AdminAssets/images/logo-mini.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      
      <%- include('../layout/adminNavbar') -%>

      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img src="/AdminAssets/images/logo-mini.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>


      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img src="/AdminAssets/images/logo-mini.png" alt="logo" /></a>
          </div>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
            </li>
          </ul>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">sales report</li>
                </ol>
              </nav>
            </div>
            <div class="container mb-3">
                <div class="btn-group" role="group" aria-label="Filter options">
                    <button type="button" class="btn btn-outline-secondary" id="filter-day">Day</button>
                    <button type="button" class="btn btn-outline-secondary" id="filter-week">Week</button>
                    <button type="button" class="btn btn-outline-secondary" id="filter-month">Month</button>
                    <button type="button" class="btn btn-outline-secondary" id="filter-year">Year</button>
                </div>
                <input type="text" class="form-control custom-date-range d-inline-block ml-3" placeholder="Custom date range" id="custom-date-range" style="width: 200px;">
                <button type="button" class="btn btn-outline-secondary" id="submit-btn">Submit</button>
                <div class="d-flex justify-content-end">
                  <a href="/admin/sales-report" class="btn btn-light align-items-end">Clear</a>
                </div>
                <p class="text-danger" id="date-error"></p>
                <p class="text-light" id="date-range"></p>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Sales Report</h4>
                    <% 
                    let totalAmount = 0;
                    for(let i = 0; i < orders.length; i++){
                      totalAmount += Number(orders[i].price)
                    }
                     %>
                    <span class="mr-3">Ordered Products: <%= totalOrders %></span>
                    <span>Products Sold: <%= totalDeliveredOrders %></span>
                    <% if(orders.length != 0){ %>
                    <div class="d-flex justify-content-end">
                      Download
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary ml-2" id="pdf-btn">PDF</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" id="excel-btn">EXCEL</button>
                      </div>
                    </div>
                    <% } %>
                    <div class="table-responsive">
                        <% if(orders.length == 0){ %>
                        No Orders yet
                        <% }else { %>
                      <table id="table" class="table table-hover">
                        <thead>
                          <tr>
                            <th>Order ID</th>
                            <th>Odered Date</th>
                            <th>Delivered Date</th>
                            <th>User</th>
                            <th>Payment</th>
                            <th>Product</th>
                            <th>price</th>
                            <th>Qty</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach((order) => { %>
                              <tr id="table-row">
                              <td><%= order.OID %></td>
                              <td><%= order.orderDate.toLocaleDateString('default', {day: 'numeric', month:'short', year: 'numeric'}) %></td>
                              <td><%= order.products.deliveryDate.toLocaleDateString('default', {day: 'numeric', month:'short', year: 'numeric'}) %></td>
                              <td><%= order.userName %></td>
                              <td><%= order.paymentMethod != "Cash on Delivery" ? "Online" : "COD" %></td>
                              <td><%= order.productName.length > 25 ? order.productName.substring(0, 25) + '...': order.productName %></td>
                              <td>₹ <%= order.price.toLocaleString() %></td>
                              <td><%= order.products.quantity %></td>
                              <td>₹ <%= order.subtotal.toLocaleString() %></td>
                              <% }) %>
                        </tbody>
                      </table>
                      <% } %>
                      <div class="container mt-5">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center" id="pagination-list">
                            <% for(let i = 1; i <= totalPages; i++){ %>
                            <li data-page="<%= i %>" class="page-item pagination-link"><a class="page-link btn btn-outline-light text-light pagination-link <%= page == i ? 'bg-light text-dark' : '' %>" data-page="<%= i %>" href="#"><%= i %></a></li>
                            <% } %>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      
      <!-- page-body-wrapper ends -->
    </div>
    <script>
    </script>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/AdminAssets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/AdminAssets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/AdminAssets/js/off-canvas.js"></script>
    <script src="/AdminAssets/js/hoverable-collapse.js"></script>
    <script src="/AdminAssets/js/misc.js"></script>
    <script src="/AdminAssets/js/settings.js"></script>
    <script src="/AdminAssets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/AdminAssets/js/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="/AdminAssets/js/salesReport.js"></script>
    <!-- End custom js for this page -->

<%- include('../layout/footer') -%>