<%- include('../layout/header') -%>
<title>ZEITKRAFT | About</title>

    <%- include('../layout/userSideCss') %>
</head>

<body>
<%- include('../layout/navbar') -%>

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>About</h4>
                    <div class="breadcrumb__links">
                        <a href="/home">Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/UserAssets/images/breguet.jpg);">
                
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
      <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">Luxury watches fascinate us.
                Watch enthusiasts inspire us.</h2>
        </div>
      </div>
      <div class="pb-md-5">
                    <p>People who love luxury watches inspire us as much as precious timepieces. That’s why sellers and buyers of luxury watches have our undivided attention.</p>
                    <div class="row ftco-services">
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-002-recommended"></span>
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Refund Policy</h3>
                    <p>Your money will be credited to the ZEITKRAFT Wallet instantly after the return or cancel</p>
                  </div>
                </div>      
              </div>
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-001-box"></span>
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Premium Packaging</h3>
                    <p>We value the transportation of your product as we value your product.</p>
                  </div>
                </div>    
              </div>
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-003-medal"></span>
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Superior Quality</h3>
                    <p>Watches in ZEITKRAFT has Superior Quality and is collected directly from producers</p>
                  </div>
                </div>      
              </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/UserAssets/ShopAssets/js/jquery-3.3.1.min.js"></script>
<%- include('../layout/pageFooter') -%>

<%- include('../layout/userSideScripts') %>
<%- include('../layout/footer') -%>