<%- include('../layout/header') -%>

<%- include('../layout/userSideCss') -%>

    <!-- Bootstrap CSS -->
    <title>ZEITKRAFT | User profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/your-fontawesome-kit-code.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/UserAssets/css/profile.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    
  </head>

  <body>
    <%- include('../layout/navbar') -%>
    <section class="my-5 d-flex justify-content-around">
      <div class="container">
        <div class="main-body">
          <div class="row d-flex justify-content-around">
            <div class="col-lg-4">
              <div class="card border-0">
                <div class="card-body">
                  <div class="list-group list-group-flush text-start mt-4">
                    <a
                      href="/profile"
                      class="list-group-item list-group-item-action border-0"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill icon-align" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                      </svg> Profile Informaton
                    </a>
                    <a
                      href="/wishlist"
                      class="list-group-item list-group-item-action border-0"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill icon-align" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                      </svg> Wishlist
                    </a>
                    <a
                      href="/orders"
                      class="list-group-item list-group-item-action border-0"
                      ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-fill icon-align" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                      </svg> Orders</a
                    >

                    <a
                      href="/addresses"
                      class="list-group-item list-group-item-action border-0 active"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-postcard-fill icon-align" viewBox="0 0 16 16">
                        <path d="M11 8h2V6h-2z"/>
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0zM2 5.5a.5.5 0 0 0 .5.5H6a.5.5 0 0 0 0-1H2.5a.5.5 0 0 0-.5.5M2.5 7a.5.5 0 0 0 0 1H6a.5.5 0 0 0 0-1zM2 9.5a.5.5 0 0 0 .5.5H6a.5.5 0 0 0 0-1H2.5a.5.5 0 0 0-.5.5m8-4v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5"/>
                      </svg> Addresses
                    </a>
                    <a
                      href="/wallet"
                      class="list-group-item list-group-item-action border-0"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet-fill icon-align" viewBox="0 0 16 16">
                        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542s.987-.254 1.194-.542C9.42 6.644 9.5 6.253 9.5 6a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2z"/>
                        <path d="M16 6.5h-5.551a2.7 2.7 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5s-1.613-.412-2.006-.958A2.7 2.7 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5z"/>
                      </svg> Wallet
                    </a>
                    <a
                      href="/logout"
                      class="list-group-item list-group-item-action border-0"
                      ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power icon-align" viewBox="0 0 16 16">
                        <path d="M7.5 1v7h1V1z"/>
                        <path d="M3 8.812a5 5 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812"/>
                      </svg> Logout</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div id="addresses-div" class="col-lg-8" >
              <div id="addresses-whole-div" class="card">
                <h3 class="text-dark m-5">Addresses</h3>
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <button id="add-address-btn" class="btn btn-outline-navy mt-5">
                            + Add Address
                          </button>
                    </div>
                    <% if(user.addresses.length == 0){ %>
                        <h4 class="text-dark m-5">No address added yet</h4>
                    <% } else{ %>
                        <% user.addresses.forEach((address) => { %>
                            <% if(!address.delete){ %>
                    <div class="profile-info mt-5">
                        <div class="form-container">
                            <div class="mb-3">
                          <h4 class="text-dark">Address <%= user.addresses.indexOf(address) + 1 %></h4>
                          <div class="d-flex justify-content-between">
                              <label for="first-name" class="form-label">First Name</label>
                              <input type="text" class="form-control border-0" aria-describedby="emailHelp" name="first-name" value="<%= address.firstName %>" disabled>
                              <label for="last-name" class="form-label ml-1">Last Name</label>
                              <input type="text" class="form-control border-0" name="last-name" value="<%= address.lastName %>" disabled>
                          </div>
                      </div>
                      <div class="mb-3">
                        <label for="phone" class="form-label">State</label>
                        <input type="text" class="form-control border-0" name="state" value="<%= address.state %>" disabled>
                      </div>
                      <div class="mb-3">
                        <label for="street-address" class="form-label">Street Address</label>
                        <textarea name="street-address" class="form-control border-0" style="min-height: 100px;" disabled><%= address.streetAddress %></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="city" class="form-label">City/Town</label><span id="city-error" class="ml-3 text-danger fs-1"></span>
                        <input type="text" class="form-control border-0" name="city" value="<%= address.city %>" disabled>
                      </div>
                      <div class="mb-3">
                        <label for="pin" class="form-label">Postalcode/ZIP</label><span id="pin-error" class="ml-3 text-danger fs-1"></span>
                        <input type="text" class="form-control border-0" name="pin" value="<%= address.pinCode %>" disabled>
                      </div>
                      <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label><span id="phone-error" class="ml-3 text-danger fs-1"></span>
                        <input type="text" class="form-control border-0" value="+<%= address.phone %>" name="phone" disabled>
                      </div>
                      <button id="edit-address-btn" type="submit" data-address-id="<%= address._id %>" class="btn btn-primary rounded-0 mt-3">Edit Address</button>
                      <button id="delete-address-btn" type="submit" data-address-id="<%= address._id %>" class="btn btn-danger rounded-0 mt-3 ml-1">Delete Address</button>
                      </div>
                  </div>
                  <% } %>
                  <% }) %>
                  <% } %>
                </div>
              </div>              
            </div>

            <div id="add-address-div" class="col-lg-8" style="display: none;">
                <div id="profileDetails" class="card">
                  <h3 class="text-dark m-5">Add Address</h3>
                  <div class="card-body">
                      <div class="profile-info mt-5">
                          <div class="form-container">
                              <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="first-name" class="form-label">First Name</label><span id="add-fname-error" class="ml-3 text-danger fs-1"></span>
                                <input type="text" class="form-control" id="add-first-name" aria-describedby="emailHelp" value="<%= user.firstName %>">
                                <label for="last-name" class="form-label ml-1">Last Name</label><span id="add-lname-error" class="ml-3 text-danger fs-1"></span>
                                <input type="text" class="form-control" id="add-last-name" value="<%= user.lastName %>">
                            </div>
                        </div>
                        <div class="mb-3">
                          <label for="phone" class="form-label">State</label><span id="add-state-error" class="ml-3 text-danger fs-1"></span>
                          <input type="text" class="form-control" id="add-state">
                        </div>
                        <div class="mb-3">
                          <label for="street-address" class="form-label">Street Address</label><span id="add-street-address-error" class="ml-3 text-danger fs-1"></span>
                          <textarea name="street-address" id="add-street-address" class="form-control" style="min-height: 100px;"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="city" class="form-label">City/Town</label><span id="add-city-error" class="ml-3 text-danger fs-1"></span>
                          <input type="text" class="form-control" id="add-city">
                        </div>
                        <div class="mb-3">
                          <label for="pin" class="form-label">Postalcode/ZIP</label><span id="add-pin-error" class="ml-3 text-danger fs-1"></span>
                          <input type="text" class="form-control" id="add-pin">
                        </div>
                        <div class="mb-3">
                          <label for="phone" class="form-label">Phone</label><span id="add-phone-error" class="ml-3 text-danger fs-1"></span>
                          <input type="text" class="form-control" value="<%= user.phone ? '+' + user.phone : '' %>" id="add-phone">
                        </div>
                        <button id="add-address-cancel-btn" type="submit" class="btn btn-outline-primary rounded-0 mt-3 mr-3">Cancel</button>
                      <button id="add-address-submit-btn" type="submit" data-user-id="<%= user._id %>" class="btn btn-primary rounded-0 btn-disabled disabled mt-3">Submit</button>
                        </div>
                    </div>
                  </div>
                </div>              
              </div>



              <div id="edit-address-div" class="col-lg-8" style="display: none;">
                <div id="profileDetails" class="card">
                  <h3 class="text-dark m-5">Edit Address</h3>
                  <div class="card-body">
                      <div class="profile-info mt-5">
                          <div class="form-container">
                              <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="first-name" class="form-label">First Name</label><span id="edit-fname-error" class="ml-3 text-danger fs-1"></span>
                                <input type="text" class="form-control" id="edit-first-name" aria-describedby="emailHelp">
                                <label for="last-name" class="form-label ml-1">Last Name</label><span id="edit-lname-error" class="ml-3 text-danger fs-1"></span>
                                <input type="text" class="form-control" id="edit-last-name">
                            </div>
                        </div>
                        <div class="mb-3">
                          <label for="phone" class="form-label">State</label><span id="edit-state-error" class="ml-3 text-danger fs-1"></span>
                          <input type="text" class="form-control" id="edit-state">
                        </div>
                        <div class="mb-3">
                          <label for="street-address" class="form-label">Street Address</label><span id="edit-street-address-error" class="ml-3 text-danger fs-1"></span>
                          <textarea name="street-address" id="edit-street-address" class="form-control" style="min-height: 100px;"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="city" class="form-label">City/Town</label><span id="edit-city-error" class="ml-3 text-danger fs-1"></span>
                          <input type="text" class="form-control" id="edit-city">
                        </div>
                        <div class="mb-3">
                          <label for="pin" class="form-label">Postalcode/ZIP</label><span id="edit-pin-error" class="ml-3 text-danger fs-1"></span>
                          <input type="text" class="form-control" id="edit-pin">
                        </div>
                        <div class="mb-3">
                          <label for="phone" class="form-label">Phone</label><span id="edit-phone-error" class="ml-3 text-danger fs-1"></span>
                          <input type="text" class="form-control" id="edit-phone">
                        </div>
                        <button id="edit-address-cancel-btn" type="submit" class="btn btn-outline-primary rounded-0 mt-3 mr-3">Cancel</button>
                      <button id="edit-address-submit-btn" type="submit" data-user-id="<%= user._id %>" class="btn btn-primary rounded-0 btn-disabled disabled mt-3">Submit</button>
                        </div>
                    </div>
                  </div>
                </div>              
              </div>

          </div>
        </div>
      </div>
    </section>

    <%- include('../layout/pageFooter') -%>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <script src="/UserAssets/js/address.js"></script>
    <%- include('../layout/userSideScripts') -%>
  </body>
</html>
