<%- include('../layout/header') -%>
<title>ZEITKRAFT | Watch Brands</title>

    <%- include('../layout/userSideCss') %>
</head>

<body>
<%- include('../layout/navbar') -%>

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Brands</h4>
                    <div class="breadcrumb__links">
                        <a href="/home">Home</a>
                        <span>Brands</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% if(brands.length > 0) {%>
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Watch Brands</h2>
                    <p>Showcasing the Finest Timepiece Brands</p>
                </div>
            </div>
        </div>
        <div class="container">
            <% for(let i = 0; i < brands.length; i++) { 
                if(i % 4 === 0) { %>
                    <div class="row">
                <% } %>
                <div class="col-sm-6 col-md-4 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="/shop?brands=<%= brands[i].brandName %>&minPrice=&maxPrice=" class="img-prod">
                            <img class="img-fluid" src="/uploads/brands/<%= brands[i].brandPic %>" alt="Category image" />
                            <% if(brands[i].offerPercent){ %>
                                <span class="status text-light"><%= brands[i].offerPercent %>% Off</span>
                            <% } %>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 px-3 text-center">
                            <h3><a href="#"><%= brands[i].brandName %></a></h3>
                        </div>
                    </div>
                </div>
                <% if((i + 1) % 4 === 0 || i === brands.length - 1) { %>
                    </div>
                <% } %>
            <% } %>
        </div>
    </section>
<% } %>


<script src="/UserAssets/ShopAssets/js/jquery-3.3.1.min.js"></script>
<%- include('../layout/pageFooter') -%>

<%- include('../layout/userSideScripts') %>
<%- include('../layout/footer') -%>