<%- include('../layout/header') -%>
<title>ZEITKRAFT | Cart</title>

    <%- include('../layout/userSideCss') %>
</head>

<body>
<%- include('../layout/navbar') -%>

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="/home">Home</a>
                        <a href="/shop">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="shopping-cart spad" id="cart-whole-div">
    <% if(cart.products.length == 0){ %>
    
    <div class="d-flex justify-content-center my-5 py-5">
        <img class="w-10 mr-5" src="/UserAssets/images/cart.png" alt="Image">
          <h1 class="color-navy">Cart is empty</h1>
    </div>
    <div class="d-flex justify-content-center m-5">
        <a href="/shop" class="btn-outline-navy px-4 py-2">Shop Now</a>
    </div>
    
    <% } else{ %>
    <div class="container" id="cart-div">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            <% products.forEach((product) => { %>
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="/uploads/products/<%= product.pic %>" alt="" style="max-width: 90px;">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6><%= product.brand %> <%= product.name %></h6>
                                        <h5>&#x20b9; <%= product.price.toLocaleString() %></h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2" data-product-id="<%= product.productId %>">
                                            <input type="text" value="<%= product.quantity %>" disabled>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">&#x20b9; <%= (product.price * product.quantity).toLocaleString() %></td>
                                <td class="cart__close"><i data-product-id="<%= product.productId %>" class="fa fa-close remove-product"></i></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="/shop" class="color-navy">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <% let sum = 0; %>
                        <% for(let i = 0; i < products.length; i++){ %>
                            <% sum += products[i].price * products[i].quantity %>
                        <% } %>
                        <li>Subtotal <span>&#x20b9; <%= sum.toLocaleString() %></span></li>
                        <li>Delivery Charge <span>&#x20b9; 60</span></li>
                        <li>Total <span>&#x20b9; <%= (sum + 60).toLocaleString() %></span></li>
                    </ul>
                    <div class="d-flex justify-content-center">
                        <a href="/checkout" class="btn-navy px-5 py-3">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</section>


<script src="/UserAssets/ShopAssets/js/jquery-3.3.1.min.js"></script>
<%- include('../layout/pageFooter') -%>

<script src="/UserAssets/js/cart.js"></script>
<%- include('../layout/userSideScripts') %>
<%- include('../layout/footer') -%>