<%- include('../layout/header') -%>
<title>ZEITKRAFT | 404 page not found</title>

    <%- include('../layout/userSideCss') %>
</head>

<body>
<%- include('../layout/navbar') -%>

<section class="shop spad">
    <div class="container">
            <div class="d-flex justify-content-center mt-5 mb-3 py-5">
                <img class="w-10 mr-5" src="/UserAssets/images/404.png" alt="Image">
            </div>
            <div class="d-flex justify-content-center">
                <h3 class="color-navy text-center">The page you are looking for does not exist</h3>
            </div>
    </div>
</section>


<script src="/UserAssets/ShopAssets/js/jquery-3.3.1.min.js"></script>
<%- include('../layout/pageFooter') -%>

<%- include('../layout/userSideScripts') %>
<%- include('../layout/footer') -%>