<%- include('../layout/header') -%>

<%- include('../layout/userSideCss') -%>

    <!-- Bootstrap CSS -->
    <title>ZEITKRAFT | Orders</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/your-fontawesome-kit-code.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/UserAssets/css/profile.css" />
    <link rel="stylesheet" href="/UserAssets/css/trackOrder.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    
  </head>

  <body>
    <%- include('../layout/navbar') -%>

    <section class="breadcrumb-option">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb__text">
                      <h4>Profile</h4>
                      <div class="breadcrumb__links">
                          <a href="/home">Home</a>
                          <a href="/orders">Orders</a>
                          <span>Track Order</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <div class="container my-5">
    <div class="card">
        <div class="card-body">

            <p><%= order.OID %></p>

            <% let orderedDate = new Date(order.orderDate) %>
            <% orderedDate = orderedDate.toLocaleDateString('default', {day: 'numeric', month: 'short', year: 'numeric'}) %>

            <p>Ordered on: <%= orderedDate %></p>
            <div class="d-flex justify-content-end">
                <button class="cssbuttons-io-button <%= invoice ? '' : 'd-none' %>" id="invoice-download" data-order-id="<%= order._id %>">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z"></path>
                    </svg>
                    <span>Download Invoice</span>
                </button>
            </div>


            <h5>Product Details</h5>
            <div class="row mb-3" id="products-whole-div">
                <% products.forEach((product) => { %>
                    <% let i = products.indexOf(product) %>
                    <% let deliveryDate = order.products[i].deliveryDate.toLocaleDateString('default', {day: 'numeric', month: 'short', year: 'numeric'}) %>
                    <% let lastUpdated = order.products[i].lastUpdated.toLocaleDateString('default', {day: 'numeric', month: 'short', year: 'numeric'}) %>
                    <div class="d-flex flex-column col-lg-12 my-5">

                        <div class="d-flex">
                            <div class="d-flex flex-column">
                                <% if(order.products[i].status == 'Out for Delivery'){ %>
                                <span class="lead fw-normal font-weight-bold">Your order is Out for Delivery</span>
                                <% } else if(order.products[i].status == 'Payment Pending'){ %>
                                    <span class="lead fw-normal font-weight-bold">Complete your payment to place order</span>
                                <% } else { %>
                                    <span class="lead fw-normal font-weight-bold">Your order has been <%= order.products[i].status %></span>
                                <% } %>
                                <% if(order.products[i].status != 'Delivered'){ %>
                                <span>Estimated Delivery Date: <%= deliveryDate %></span>
                                <% } %>
                            </div>
                        </div>

                        <div class="card card-stepper" style="border-radius: 0px;">
                            <div class="card-body p-4">
                                <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                                    <% let paymentPending = order.products[i].status == 'Payment Pending' ? 'dot' : 'dot-filled' %>
                                    <span class="<%= order.products[i].status == 'Cancelled' ? 'dot-danger': paymentPending %>"></span>
                                    <hr class="flex-fill <%= order.products[i].status == 'Shipped' || 
                                    order.products[i].status == 'Out for Delivery' || order.products[i].status == 'Delivered' || 
                                    order.products[i].status == 'Requested for Return' || order.products[i].status == 'Returned' ? 'track-line' : '' %>">
                                    <span class="<%= order.products[i].status == 'Shipped' || order.products[i].status == 'Out for Delivery' || 
                                    order.products[i].status == 'Delivered' || order.products[i].status == 'Requested for Return' || 
                                    order.products[i].status == 'Returned' ? 'dot-filled' : 'dot' %>"></span>
                                    <hr class="flex-fill <%= order.products[i].status == 'Out for Delivery' || order.products[i].status == 'Delivered' || 
                                    order.products[i].status == 'Requested for Return' || order.products[i].status == 'Returned' ? 'track-line' : '' %>">
                                    <span class="<%= order.products[i].status == 'Out for Delivery' || order.products[i].status == 'Delivered' || 
                                    order.products[i].status == 'Requested for Return' || order.products[i].status == 'Returned' ? 'dot-filled' : 'dot' %>"></span>
                                    <hr class="flex-fill <%= order.products[i].status == 'Delivered' || order.products[i].status == 'Requested for Return' ||
                                     order.products[i].status == 'Returned' ? 'track-line' : '' %>">
                                    <% if(
                                        order.products[i].status == 'Delivered' ||
                                         order.products[i].status == 'Requested for Return' ||
                                          order.products[i].status == 'Returned'
                                          ){ %>
                                    <span class="d-flex justify-content-center align-items-center dot-filled 
                                    <%= order.products[i].status == 'Requested for Return' ? 'big-dot-warning' : '' %> 
                                    <%= order.products[i].status == 'Returned' ? 'big-dot-success': '' %> 
                                    <%= order.products[i].status == 'Delivered' ? 'big-dot': '' %>">
                                        <i class="fa fa-check text-white"></i>
                                    </span>
                                    <% } else { %>
                                    <span class="dot"></span>
                                    <% } %>
                                </div>
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <div class="d-flex flex-column align-items-start">
                                        <span><%= order.products[i].status == 'Cancelled' ? 'Order Cancelled' : 'Order placed' %></span>
                                        <span><%= orderedDate %></span>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <span>Order Shipped</span>
                                        <span><%= order.products[i].status == 'Shipped' ? lastUpdated : '' %></span>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <span>Out for Delivery</span>
                                        <span><%= order.products[i].status == 'Out for Delivery' ? lastUpdated : '' %></span>
                                    </div>
                                    <div class="d-flex flex-column align-items-end">
                                        <span><%= order.products[i].status == 'Requested for Return' ? 'Requested for Return' : (order.products[i].status == 'Returned' ? 'Returned': 'Delivered') %></span>
                                        <span><%= order.products[i].status == 'Delivered' ?   lastUpdated : (order.products[i].status == 'Cancelled' ? '' : 'Est:' + deliveryDate ) %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-5">
                        <div class="col-md-3 my-3">
                            <img src="/uploads/products/<%= product.productPic1 %>" class="img-fluid <%= order.products[i].status == 'Cancelled' ? 'img-fade' : '' %>" alt="Product Image">
                        </div>
                        <div class="col-md-6">
                            <p><strong>Product Name:</strong> <%= product.brand + " " + product.name %></p>
                            <p><strong>Quantity:</strong> <%= product.quantity %></p>
                            <p><strong>Price:</strong>&#x20b9; <%= product.price.toLocaleString() %></p>
                        </div>
                        <div class="col-md-3 text-md-right">
                            <% let subTotal = order.products[i].subTotal %>
                            <p><strong>Subtotal:</strong>&#x20b9; <%= subTotal.toLocaleString() %></p>
                            <% if(
                                (order.products[i].status == 'Delivered' || 
                                order.products[i].status == 'Requested for Return' || 
                                order.products[i].status == 'Returned') && 
                                order.products[i].complete == false
                                ){ %>
                            <% let returnDate = Number(order.products[i].deliveryDate) + 7 * 24 * 60 * 60 * 1000 %>

                            <a href="#" id="return-btn" data-order-id="<%= order._id %>" data-product-id="<%= product._id %>" class="btn btn-danger rounded-0 mb-3 <%= returnDate >= Date.now() &&
                                order.products[i].status != 'Requested for Return' && order.products[i].status != 'Returned' ? '' : 'disabled bg-dark' %>">Return</a>
                            
                            <% } else if(order.products[i].status != 'Cancelled' && order.products[i].complete == false && order.products[i].status != 'Payment Pending' ) { %>

                            <a href="#" id="cancel-btn" data-order-id="<%= order._id %>" data-product-id="<%= product._id %>" class="btn btn-danger rounded-0 mb-3">Cancel</a>
                            
                            <% } %>
                        </div>
                    </div>
                    <% }) %>
                </div>

                <hr>

                <div class="row mb-3">
                    <div class="col-md-9 text-right">
                        <p><strong>Delivery Charge:</strong></p>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <p>&#x20b9; <%= order.totalCharge != 0 ? 60 : 0 %></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-9 text-right">
                        <p><strong>Tax Charge:</strong></p>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <p>&#x20b9; <%= order.taxCharge.toLocaleString() %></p>
                    </div>
                </div>
                <% if(order.discountAmount){ %>
                <div class="row mb-3">
                    <div class="col-md-9 text-right">
                        <p><strong>Discount Amount:</strong></p>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <p>&#x20b9; <%= order.discountAmount.toLocaleString() %></p>
                    </div>
                </div>
                <% } %>
                <div class="row">
                    <div class="col-md-9 text-right">
                        <h5><strong>Total Amount:</strong></h5>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <h5><strong>&#x20b9; <%= order.totalCharge.toLocaleString() %></strong></h5>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-9 text-right">
                        <p><strong>Payment Method:</strong></p>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <p><%= order.paymentMethod %></p>
                    </div>
                </div>
                <% if(order.products[0].status == 'Payment Pending'){ %>
                    <div class="text-right">
                        <a href="#" id="pay-btn" data-order-id="<%= order._id %>" class="btn btn-navy rounded-0">Pay Now</a>
                    </div>
                <% } %>
                <hr>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <h2 class="mb-5">Deliver to</h2>
                        <p><strong><%= address.firstName + " " + address.lastName %></strong></p>
                        <p><%= address.streetAddress %></p>
                        <p><%= address.city + ', ' + address.state %></p>
                        <p>PIN: <%= address.pinCode %></p>
                        <p>Phone: +<%= address.phone %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <%- include('../layout/pageFooter') -%>
    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <%- include('../layout/userSideScripts') -%>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <script src="/UserAssets/js/trackOrder.js"></script>

<%- include('../layout/footer') -%>