<%- include('../layout/header') -%>
<title>ZEITKRAFT | Wishlist</title>

    <%- include('../layout/userSideCss') %>
</head>

<body>
<%- include('../layout/navbar') -%>

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Wishlist</h4>
                    <div class="breadcrumb__links">
                        <a href="/home">Home</a>
                        <a href="/profile">Profile</a>
                        <span>Wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="shop spad">
    <div class="container">
        <% if(products.length == 0){ %>
            <div class="d-flex justify-content-center my-5 py-5">
                <img class="w-10 mr-5" src="/UserAssets/images/wishlist.jpg" alt="Image">
                  <h1 class="color-navy">No products Wishlisted</h1>
            </div>
            <div class="d-flex justify-content-center m-5">
                <a href="/shop" class="btn-outline-navy px-4 py-2">Shop Now</a>
            </div>
        <% } else{ %>
        <div class="row"  id="sort-pagination-div">
            <div class="col-lg-9" id="sort-pagination-div">
                <div class="row" id="parent-div">
                    <% products.forEach((product) => {  %>
                        <div class="col-lg-4 col-md-6 col-sm-6 ftco-animate">
                            <div class="product">
                                <a href="/product-details?productId=<%= product.productsDetails._id %>" class="img-prod"><img class="img-fluid" src="/uploads/products/<%= product.productsDetails.productPic1 %>" alt="Product image">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 px-3">
                                    <h3><a class="text-primary" href="/product-details?productId=<%= product.productsDetails._id %>"><%= products[products.indexOf(product)].productsDetails.brand + " " + product.productsDetails.productName %></a></h3>
                                    <p></p>
                                    <h6><%= product.productsDetails.model %></h6>
                                    <p></p>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <% const formattedPrice = product.productsDetails.price.toLocaleString(); %>
                                            <p class="price"><span>&#x20b9; <%= formattedPrice %></span></p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-around">
                                        <% if(product.productsDetails.stock > 5){ %>
                                        <span class="text-success">In stock</span>
                                        <% }else if(product.productsDetails.stock <= 5 && product.productsDetails.stock >0) {%>
                                        <span class="text-warning">Few stock left</span>
                                        <% }else{ %>
                                        <span class="text-danger">Out of stock</span>
                                        <% } %>
                                        <p class="text-dark fw-bolder"><%= product.productsDetails.type %></p>
                                    </div>
                                    <% if(product.productsDetails.stock > 0){ %>
                                    <p class="bottom-area d-flex px-3">
                                        <a data-product-id="<%= product.productsDetails._id %>" class="add-to-cart text-center py-2 mr-1"><span data-product-id="<%= product.productsDetails._id %>" 
                                            class="add-to-cart" style="cursor: pointer;">Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                        <a data-product-id="<%= product.productsDetails._id %>" class="remove-from-wishlist buy-now text-center py-2" style="cursor: pointer;">Remove<span 
                                            data-product-id="<%= product.productsDetails._id %>" class="remove-from-wishlist"><i class="ion-ios-trash ml-1"></i></span></a>
                                    </p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</section>




<script src="/UserAssets/ShopAssets/js/jquery-3.3.1.min.js"></script>
<%- include('../layout/pageFooter') -%>

<script src="/UserAssets/js/wishlist.js"></script>
<%- include('../layout/userSideScripts') %>
<%- include('../layout/footer') -%>